<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>UP</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DealerServlet</display-name>
    <servlet-name>DealerServlet</servlet-name>
    <servlet-class>com.franza.UP.servlet.DealerServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ShipmentServlet</display-name>
    <servlet-name>ShipmentServlet</servlet-name>
    <servlet-class>com.franza.UP.servlet.ShipmentServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>CentreServlet</display-name>
    <servlet-name>CentreServlet</servlet-name>
    <servlet-class>com.franza.UP.servlet.CentreServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>VehicleServlet</display-name>
    <servlet-name>VehicleServlet</servlet-name>
    <servlet-class>com.franza.UP.servlet.VehicleServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>WeeklyReportServlet</display-name>
    <servlet-name>WeeklyReportServlet</servlet-name>
    <servlet-class>com.franza.UP.servlet.WeeklyReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DealerServlet</servlet-name>
    <url-pattern>/Dealer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShipmentServlet</servlet-name>
    <url-pattern>/Shipment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CentreServlet</servlet-name>
    <url-pattern>/Centre</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VehicleServlet</servlet-name>
    <url-pattern>/Vehicle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WeeklyReportServlet</servlet-name>
    <url-pattern>/WeeklyReport</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Protected Area</web-resource-name>
      <url-pattern>/index.jsp</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
  </security-constraint>
</web-app>